.table.size1of1
  %article.block-post
    %p.quote
      &ldquo;There should be a science of discontent. People need hard times and oppression to develop psychic muscles.&rdquo;
    %p.author
      &mdash;from &ldquo;Collected Sayings of Muad&rsquo;Dib&rdquo; by the Princess Irulan

.table.size1of2
  %article.block-post
    %p.quote
      &ldquo;To attempt an understanding of Muad&rsquo;Dib without understanding his mortal enemies, the Harkonnens, is to attempt seeing Truth without knowing Falsehood. It is the attempt to see the Light without knowing Darkness. It cannot be.&rdquo;
    %p.author
      &mdash;from &ldquo;Manual of Muad&rsquo;Dib&ldquo; by the Princess Irulan

.table.size1of4
  %article.block-post
    %p.quote
      &ldquo;Arrakis teaches the attitude of the knife--chopping off what&rsquo;s incomplete and saying: &lsquo;Now, it&rsquo;s complete because it&rsquo;s ended here.&rsquo;&rdquo;
    %p.author
      &mdash;from &ldquo;Collected Sayings of, Muad&rsquo;Dib&ldquo; by the Princess Irulan

.table.size1of8
  %article.block-post
    %p.quote
      &ldquo;When law and duty are one, united by religion, you never become fully conscious, fully aware of yourself. You are always a little less than an individual.&rdquo;
    %p.author
      &mdash;from &ldquo;Muad&rsquo;Dib: The Ninety-Nine Wonders of the Universe&ldquo; by Princess Irulan

.table.size1of16
  %article.block-post
    %p.quote
      &ldquo;What do you despise? By this are you truly known.&rdquo;
    %p.author
      &mdash;from &ldquo;Manual of Muad&rsquo;Dib&rdquo; by the Princess Irulan

.table.size1of1
  %article.block-post
    %p.quote
      &ldquo;There should be a science of discontent. People need hard times and oppression to develop psychic muscles.&rdquo;
    %p.author
      &mdash;from &ldquo;Collected Sayings of Muad&rsquo;Dib&rdquo; by the Princess Irulan

.table.size1of2
  %article.block-post
    %p.quote
      &ldquo;To attempt an understanding of Muad&rsquo;Dib without understanding his mortal enemies, the Harkonnens, is to attempt seeing Truth without knowing Falsehood. It is the attempt to see the Light without knowing Darkness. It cannot be.&rdquo;
    %p.author
      &mdash;from &ldquo;Manual of Muad&rsquo;Dib&ldquo; by the Princess Irulan

.table.size1of4
  %article.block-post
    %p.quote
      &ldquo;Arrakis teaches the attitude of the knife--chopping off what&rsquo;s incomplete and saying: &lsquo;Now, it&rsquo;s complete because it&rsquo;s ended here.&rsquo;&rdquo;
    %p.author
      &mdash;from &ldquo;Collected Sayings of, Muad&rsquo;Dib&ldquo; by the Princess Irulan

.table.size1of8
  %article.block-post
    %p.quote
      &ldquo;When law and duty are one, united by religion, you never become fully conscious, fully aware of yourself. You are always a little less than an individual.&rdquo;
    %p.author
      &mdash;from &ldquo;Muad&rsquo;Dib: The Ninety-Nine Wonders of the Universe&ldquo; by Princess Irulan

.table.size1of16
  %article.block-post
    %p.quote
      &ldquo;What do you despise? By this are you truly known.&rdquo;
    %p.author
      &mdash;from &ldquo;Manual of Muad&rsquo;Dib&rdquo; by the Princess Irulan

.table.size1of1
  %article.block-post
    %p.quote
      &ldquo;There should be a science of discontent. People need hard times and oppression to develop psychic muscles.&rdquo;
    %p.author
      &mdash;from &ldquo;Collected Sayings of Muad&rsquo;Dib&rdquo; by the Princess Irulan

.table.size1of2
  %article.block-post
    %p.quote
      &ldquo;To attempt an understanding of Muad&rsquo;Dib without understanding his mortal enemies, the Harkonnens, is to attempt seeing Truth without knowing Falsehood. It is the attempt to see the Light without knowing Darkness. It cannot be.&rdquo;
    %p.author
      &mdash;from &ldquo;Manual of Muad&rsquo;Dib&ldquo; by the Princess Irulan

.table.size1of4
  %article.block-post
    %p.quote
      &ldquo;Arrakis teaches the attitude of the knife--chopping off what&rsquo;s incomplete and saying: &lsquo;Now, it&rsquo;s complete because it&rsquo;s ended here.&rsquo;&rdquo;
    %p.author
      &mdash;from &ldquo;Collected Sayings of, Muad&rsquo;Dib&ldquo; by the Princess Irulan

.table.size1of8
  %article.block-post
    %p.quote
      &ldquo;When law and duty are one, united by religion, you never become fully conscious, fully aware of yourself. You are always a little less than an individual.&rdquo;
    %p.author
      &mdash;from &ldquo;Muad&rsquo;Dib: The Ninety-Nine Wonders of the Universe&ldquo; by Princess Irulan

.table.size1of16
  %article.block-post
    %p.quote
      &ldquo;What do you despise? By this are you truly known.&rdquo;
    %p.author
      &mdash;from &ldquo;Manual of Muad&rsquo;Dib&rdquo; by the Princess Irulan